@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// customize styles
$black: #30343f;

$size-1:2.9rem;
$size-2:2.4rem;
$size-3:1.9rem;
$size-4:1.4rem;
$size-5:1.15rem;
$size-6:0.9rem;
$size-7:0.65rem;

@import '~bulma';
@import 'pagination';
@import 'vue-tables'
