
.VueTables {
		box-shadow: 0 2px 8px 0 rgba(0,0,0,.1),0 8px 32px 0 rgba(0,0,0,.1);
		padding: 1.5rem;
    	font-size: 0.9em;

		.VueTables__search-field label{
			display: none;
		}
		.row {
			display: block;
			clear: both;
			overflow: hidden;
		}

		.pull-left{
			float: left;
			margin-bottom: 1rem;
		}

		.pull-right{
			float: right;
		}

		input{
			border: 0;
			background-color: #fafafa;
			height: 30px;
			font-size: 1em;
			margin: 0.4rem;
			padding: 0 0.5rem;
			color:#363636
		}

		select{
			margin-left: 0.5rem;
			height: 30px;
			padding:3px 10px;
			background-color: #fafafa;
			border: 0;//1px solid #ccc;
			border-radius: 4px;
		}

	.VuePagination,.VuePagination__count{
		margin: 1rem;
	}
	.VuePagination__count{
		text-align: center
	}

	.VuePagination ul{
		list-style-type: none;
	}

	.table-responsive {
		overflow-x:auto;
		box-shadow: 0 2px 8px 0 rgba(0,0,0,.1),0 6px 24px 0 rgba(0,0,0,.04);
			width: 100%;

			thead{
				background-color: #eceff1;
			}
			th{
				font-weight: 700;
				cursor: pointer;
			}
				td,th{
					border: none; //1px solid #ddd;
					padding-top: 1rem;
					padding-bottom: 1rem;
				}
				td:nth-last-child(1){
					text-align: center;
				}
	}
}
.VueTables__child-row{
	border: 1px solid #f1f1f1;
		background: #f8f8f8;
		font-size: 0.9rem;
		text-align: left;
		div{
			text-align: left !important;
			padding: 0.8rem 0.6rem;
		}
}

.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
	cursor: pointer;
}

.VueTables__child-row-toggler--closed::before {
	content: "+";
}

.VueTables__child-row-toggler--open::before {
	content: "-";
}
